body{
    background-color: var(--bg);
    scroll-behavior: smooth;
    /*FLOATING ELEMENTS*/
    .nav{
        overflow-y: hidden;
        background-color: var(--impact);
        width: 100vw;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        filter: drop-shadow(4px 4px 4px rgb(37, 37, 37));
        position: fixed;
        left: 0;
        top: 0;
        transition: .5s;
        z-index: 1;
        i{
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .hamburger-menu{
        padding: 20px 0 80px;
        background-color: var(--impact);
        height: 100vh;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -330px;
        transition: .5s;
        z-index: 1;
        i{
            margin-bottom: 120px;
            font-size: 2.5rem;
            cursor: pointer;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: white;
                text-align: center;
                font-weight: bold;
                margin: 10px;
                font-size: 1.25rem;
                padding: 5px;
                li{
                    list-style-type: none;
                    border-bottom: 1px solid var(--impact);
                }
                li:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
        img{
            margin-top: 40px;
        }
    }
    .popup-popust{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        height: 500px;
        padding: 0px 20px 40px;
        border: 2px solid var(--impact);
        background-color: var(--bg);
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        ul{
            margin: 10px;
            p{
                margin: 10px;
            }
        }
        i{
            color: var(--bg);
            border: 1px solid var(--bg);
            background-color: var(--impact);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: .5s;
            transform: translate(170px,-40px);
        }
        i:hover{
            color: var(--impact);
            border: 1px solid var(--impact);
            background-color: var(--bg);
        }
        h2{
            margin: 10px;
        }
        p{
            color: #3e3f3f;
            text-align: justify;
        }
    }
    .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    /*MAIN*/
    .on-load{
        width: 100%;
        height: 100vh;
        margin-top: 100px;
        background-image: url('../img/logonwrapper/course-wrapper-background.jpg');
        background-position: center;
        background-size: cover;
        filter: drop-shadow(3px 3px 3px grey);
        .wrapper{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.35);
            display: grid;
            place-items: center;
            .container{
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            h1{
                font-size: 2.75rem;
            }
            button{
                width: 180px;
                height:47.5px;
                border: none;
                color: white;
                background-color: var(--impact);
                border-radius: 35px;
                margin-top: 10px;
                cursor: pointer;
                transition: .5s;
                font-weight: bold;
                font-size: 1rem;
            }
            button:hover{
                background-color: white;
                color: var(--impact);
            }
        }
    }
    .courses-container{
        width: 100%;
        background-color: var(--bg);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 150px 80px 60px;
        a{
            text-decoration: none;
            filter: drop-shadow(3px 3px 3px rgb(192, 192, 192));
        }
        .course-box{
            cursor: pointer;
            width: 400px;
            height: 200px;
            background-color: white;
            padding: 20px 10px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
            .left{
                width: 100px;
                margin-right: 20px;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            .right{
                width: 250px;
                p{
                    text-align: justify;
                    width: 200px;
                    color:#4A4A4A;
                }
                h4{
                    color: #333333;
                }
                h2{
                    color: var(--impact);
                }
            }
        }
        .interest{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            a{
                filter: none;
            }
            button{
                width: 180px;
                height: 45px;
                border: none;
                color: white;
                background-color: var(--impact);
                border-radius: 50px;
                margin-top: 10px;
                cursor: pointer;
                transition: .5s;
                margin-right: 20px;
            }
            button:hover{
                background-color: white;
                color: var(--impact);
                border: 1px solid var(--impact);
            }
            p{
               color: #4A4A4A;
               width: 600px;
               text-align: justify;
               margin-top: 5px;
            }
        }
    }
    footer{
        width: 100%;
        height: 330px;
        background-color: var(--impact);
        .footer-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 0 0 5px;
            /*.upper{
                
            }*/
            .separator-line{
                width: 60%;
                height: 1px;
                background-color: var(--bg);
                margin: 20px;
            }
            .lower{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    a{
                        text-decoration: none;
                        li{
                            i{
                                display: grid;
                                border-radius: 50%;
                                place-items: center;
                                width: 50px;
                                height: 50px;
                                background-color: var(--bg);
                                border: 2px solid var(--bg);
                                color: var(--impact);
                                transition: .5s;
                                font-size: 1.25rem;
                            }
                            i:hover{
                                background-color: var(--impact);
                                color: var(--bg);
                            }
                        }
                    }
                }
            }
            .lowest{
                h4{
                    font-weight: lighter;
                    color: var(--bg);
                    margin-top: 90px;
                    a{
                        color: #fcfcfc;
                    }
                    sup{
                        i{
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
    }
}